<!DOCTYPE html>
<html>
  <head>
    <title>Autor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Resto del head -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Álvaro Gómez</p>
    <img src="/images/autor.png" alt="Autor">
    <!-- Resto del body -->
  </body>
</html>
