<!DOCTYPE html>
<html>
  <head>
    <title> My blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/author">Autor</a>
      <!-- Aquí puedes agregar más botones de navegación si lo necesitas -->
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>